.roadmap-h3 {
  font-family: orbitron;
  font-size: 25px;
  font-weight: 700;
  margin: 90px 0 10px;
}

.floater p {
  color: #abafc7;
  margin: 20px 0;
  font-size: 20px;
  box-sizing: border-box;
}

.dot_img {
  vertical-align: middle;
  width: 100%;
  display: inline-block;
  padding-top: 100px;
}
